th, td {
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table, th, td {
    text-align: center;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}
#button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button {
    /*margin-bottom: 10px;*/
    /*width: 90%;*/
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

#button:hover {
    background-color: #0056b3;
}
th:nth-child(1) {
    width: 5%;
}

th:nth-child(2), td:nth-child(2) {
    width: 17%;
    overflow: hidden;
}

th:nth-child(3), td:nth-child(3) {
    width: 20%;
}

th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

th:nth-child(5), td:nth-child(5) {
    width: 5%;
}

th:nth-child(6), td:nth-child(6) {
    width: 5%;
}

th:nth-child(7), td:nth-child(7) {
    width: 10%;
}
th:nth-child(8), td:nth-child(8) {
    width: 10%;
}
