#left{
    text-align: center;
    padding: 10px;
    width: 18%;
    float: left;
    height: 98%;
    background: #c8e364;
    flex-direction: column;
}
button {
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}
button:hover {
    background-color: white;
}
.centent{
    padding: 5px;
    float: right;
    width: 77%;
    height: 98%;
    margin-right: 30px;
}



/*them san pham*/
/* CSS cho form nhập liệu */
#formAddProduct {
    display: none; /* Ẩn form ban đầu */
    margin: 20px auto;
    width: 50%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 10px;
}
.form-group label {
    font-weight: bold;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#addProductButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
#logout{
    margin-top: 140%;
    background-color: #ff0000;
    color: white;
}